[user]
	name = Philipp Hoefflin
	email = philipp.hoefflin@haufe-lexware.com
[diff]
	tool = vimdiff
[push]
	default = simple
[color]
	ui = auto
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[sendemail]
	smtpEncryption = tls
	smtpServer = posteo.de
	smtpUser = p.hoefflin@posteo.de
	smtpServerPort = 587
	suppresscc = self
[format]
	signOff = true
[alias]
	lg1 = log --graph --abbrev-commit --decorate --all
	lg2 = log --graph --abbrev-commit --decorate --all
	lg = !"git lg1"
	gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs git branch -D"

[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
