[user]
	name = Philipp Hoefflin
	email = p.hoefflin@posteo.de
[diff]
	tool = vimdiff
[push]
	default = simple
[color]
	ui = auto
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[sendemail]
	smtpEncryption = tls
	smtpServer = posteo.de
	smtpUser = p.hoefflin@posteo.de
	smtpServerPort = 587
	suppresscc = self
[format]
	signOff = true
