#!/bin/bash
set -ae

function install_arch_packages () {
  paru -S --needed --noconfirm "$@"
}


if [[ "{{ .chezmoi.osRelease.id }}" != "arch" ]]; then
  echo "$0: SKIP: This script is intended to run only on Arch Linux."
  exit 0
fi

install_arch_packages {{.packages.base | join " "}}
install_arch_packages {{.packages.sway | join " "}}

